In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_user = pd.read_csv("user.csv", encoding='utf-8-sig').sample(frac=0.1, replace=True)
df_ad = pd.read_csv("ad.csv", encoding='utf-8-sig').sample(frac=0.01, replace=True)

In [3]:
# https://blog.csdn.net/weixin_42782150/article/details/89546357
df_click_log = pd.read_csv("click_log.csv", encoding='utf-8-sig')

In [4]:
df_click_log = df_click_log.join(df_user.set_index('user_id'),on='user_id')[df_click_log.columns]

In [5]:
df_user.shape, df_ad.shape, df_click_log.shape

((90000, 3), (24811, 6), (30225952, 4))

In [34]:
df_user_unique = df_user.drop_duplicates(keep="last")
df_user_unique.shape
# 无空值

(85693, 3)

In [38]:
df_user_unique.describe()

             user_id           age        gender
count   85693.000000  85693.000000  85693.000000
mean   451163.803730      4.237044      1.330295
std    259385.909998      2.002554      0.470322
min        14.000000      1.000000      1.000000
25%    226696.000000      3.000000      1.000000
50%    452031.000000      4.000000      1.000000
75%    675682.000000      6.000000      2.000000
max    899998.000000     10.000000      2.000000

In [ ]:
# https://blog.csdn.net/toshibahuai/article/details/79034829
df_user.to_csv('user.sample.csv')
df_ad.to_csv('ad.sample.csv')
df_click_log.to_csv('df_click_log.sample.csv')